.display-container {
  width: 100vw;
  height: 100vh;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .blue-quartz {
    height: 40vh;
    min-height: 200px;
  }
}
