.poly {
    height: 80vh;  
    margin-top: 10vh;
    margin-left: 10vh;
}

#Layer_4{
    .st0{fill:#B73D66;}
    .st1{fill:#342D22;}
    .st2{fill:#3C3326;}
    .st3{fill:#C69F6E;}
    .st4{fill:#AD6840;}
    .st5{fill:#52362F;}
    .st6{fill:#5E3A20;}
    .st7{fill:#9C5639;}
    .st8{fill:#BC6A47;}
    .st9{fill:#43261C;}
    .st10{fill:#512A1D;}
    .st11{fill:#BF6645;}
    .st12{fill:#C35B34;}
    .st13{fill:#DB6A4C;}
    .st14{fill:#D36A45;}
    .st15{fill:#DE7654;}
    .st16{fill:#BC4A35;}
    .st17{fill:#BC5F3D;}
    .st18{fill:#DA7655;}
    .st19{fill:#581F17;}
    .st20{fill:#2E180B;}
    .st21{fill:#E7845F;}
    .st22{fill:#281E17;}
    .st23{fill:#3B3326;}
    .st24{fill:#B65535;}
    .st25{fill:#2D201B;}
    .st26{fill:#281E16;}
    .st27{fill:#201914;}
    .st28{fill:#D76441;}
    .st29{fill:#A83F31;}
    .st30{fill:#1D140F;}
    .st31{fill:#E8785A;}
    .st32{fill:#E5724C;}
    .st33{fill:#ED9072;}
    .st34{fill:#E18061;}
    .st35{fill:#E78964;}
    .st36{fill:#531B1D;}
    .st37{fill:#963C37;}
    .st38{fill:#E17E60;}
    .st39{fill:#1D180F;}
    .st40{fill:#221A14;}
    .st41{fill:#A53C28;}
    .st42{fill:#DB714A;}
    .st43{fill:#EB875E;}
    .st44{fill:#281912;}
    .st45{fill:#411D18;}
    .st46{fill:#201013;}
    .st47{fill:#1E0F0E;}
    .st48{fill:#D4694F;}
    .st49{fill:#A64734;}
    .st50{fill:#22120C;}
    .st51{fill:#A52D2E;}
    .st52{fill:#DA6040;}
    .st53{fill:#D96E48;}
    .st54{fill:#743130;}
    .st55{fill:#98322F;}
    .st56{fill:#BB4A30;}
    .st57{fill:#33180E;}
    .st58{fill:#2E180D;}
    .st59{fill:#311C17;}
    .st60{fill:#CD6140;}
    .st61{fill:#301E0E;}
    .st62{fill:#382A22;}
    .st63{fill:#573B2B;}
    .st64{fill:#32231E;}
    .st65{fill:#432625;}
    .st66{fill:#211919;}
    .st67{fill:#281517;}
    .st68{fill:#3F0F0A;}
    .st69{fill:#371E1C;}
    .st70{fill:#341413;}
    .st71{fill:#AF554D;}
    .st72{fill:#913934;}
    .st73{fill:#61362D;}
    .st74{fill:#CF6553;}
    .st75{fill:#E7856C;}
    .st76{fill:#4B0F00;}
    .st77{fill:#D3714F;}
    .st78{fill:#B84D3D;}
    .st79{fill:#E48A67;}
    .st80{fill:#3D0602;}
    .st81{fill:#DD6E54;}
    .st82{fill:#DE7364;}
    .st83{fill:#EEA796;}
    .st84{fill:#EF9B82;}
    .st85{fill:#E68760;}
    .st86{fill:#E28162;}
    .st87{fill:#1E1303;}
    .st88{fill:#441712;}
    .st89{fill:#964139;}
    .st90{fill:#621C2A;}
    .st91{fill:#2E180F;}
    .st92{fill:#261414;}
    .st93{fill:#C66049;}
    .st94{fill:#AC3A2D;}
    .st95{fill:#D97464;}
    .st96{fill:#DA694A;}
    .st97{fill:#261412;}
    .st98{fill:#2E1C19;}
    .st99{fill:#D15347;}
    .st100{fill:#E07E69;}
    .st101{fill:#361716;}
    .st102{fill:#241414;}
    .st103{fill:#351913;}
    .st104{fill:#D8705C;}
    .st105{fill:#D97152;}
    .st106{fill:#C35B3F;}
    .st107{fill:#B93E35;}
    .st108{fill:#B33229;}
    .st109{fill:#EA906B;}
    .st110{fill:#DD8662;}
    .st111{fill:#3A1311;}
    .st112{fill:#420F1B;}
    .st113{fill:#40191E;}
    .st114{fill:#6C1913;}
    .st115{fill:#661819;}
    .st116{fill:#370806;}
    .st117{fill:#3A221F;}
    .st118{fill:#3D160F;}
    .st119{fill:#A73620;}
    .st120{fill:#C84D41;}
    .st121{fill:#9A302C;}
    .st122{fill:#F5A594;}
    .st123{fill:#F29474;}
    .st124{fill:#C75033;}
    .st125{fill:#6F2E28;}
    .st126{fill:#241212;}
    .st127{fill:#614043;}
    .st128{fill:#261616;}
    .st129{fill:#49201A;}
    .st130{fill:#8B4643;}
    .st131{fill:#913A47;}
    .st132{fill:#F3B098;}
    .st133{fill:#DE8563;}
    .st134{fill:#E5855E;}
    .st135{fill:#F8BBA4;}
    .st136{fill:#FDCDBB;}
    .st137{fill:#FECCB9;}
    .st138{fill:#F7B69B;}
    .st139{fill:#DB6347;}
    .st140{fill:#C34F3C;}
    .st141{fill:#DF805F;}
    .st142{fill:#D66952;}
    .st143{fill:#D87552;}
    .st144{fill:#E1916B;}
    .st145{fill:#D4714E;}
    .st146{fill:#E48E70;}
    .st147{fill:#FEDBD3;}
    .st148{fill:#F3AB8F;}
    .st149{fill:#F2896B;}
    .st150{fill:#F1886A;}
    .st151{fill:#DA5A48;}
    .st152{fill:#FBC0AC;}
    .st153{fill:#ECA283;}
    .st154{fill:#DF8764;}
    .st155{fill:#F5B69F;}
    .st156{fill:#F9B7A0;}
    .st157{fill:#FAB8A3;}
    .st158{fill:#F9B39B;}
    .st159{fill:#F29472;}
    .st160{fill:#D65741;}
    .st161{fill:#F9AD8C;}
    .st162{fill:#FAC6B2;}
    .st163{fill:#2E1D17;}
    .st164{fill:#131A1D;}
    .st165{fill:#E7996F;}
    .st166{fill:#F2AD8F;}
    .st167{fill:#D64730;}
    .st168{fill:#F7AB8D;}
    .st169{fill:#F9B696;}
    .st170{fill:#F6BD9A;}
    .st171{fill:#271613;}
    .st172{fill:#231A20;}
    .st173{fill:#432523;}
    .st174{fill:#C95742;}
    .st175{fill:#B64D3B;}
    .st176{fill:#F2B084;}
    .st177{fill:#271A19;}
    .st178{fill:#211413;}
    .st179{fill:#211A17;}
    .st180{fill:#1E1315;}
    .st181{fill:#241715;}
    .st182{fill:#301E1F;}
    .st183{fill:#F1DFD7;}
    .st184{fill:#301F20;}
    .st185{fill:#321E1F;}
    .st186{fill:#4B2023;}
    .st187{fill:#392626;}
    .st188{fill:#332428;}
    .st189{fill:#443132;}
    .st190{fill:#352224;}
    .st191{fill:#F1E5E0;}
    .st192{fill:#F9DCCD;}
    .st193{fill:#E09E7D;}
    .st194{fill:#EFAE89;}
    .st195{fill:#C75E3E;}
    .st196{fill:#C4573F;}
    .st197{fill:#BA4C41;}
    .st198{fill:#CF6050;}
    .st199{fill:#EA9F83;}
    .st200{fill:#821612;}
    .st201{fill:#FBC1BC;}
    .st202{fill:#F5B390;}
    .st203{fill:#EE9B80;}
    .st204{fill:#BF4132;}
    .st205{fill:#E78870;}
    .st206{fill:#CF6751;}
    .st207{fill:#9F3025;}
    .st208{fill:#A43831;}
    .st209{fill:#D26751;}
    .st210{fill:#D56A57;}
    .st211{fill:#E4946C;}
    .st212{fill:#E2966C;}
    .st213{fill:#D9513D;}
    .st214{fill:#DF6E55;}
    .st215{fill:#F5A38A;}
    .st216{fill:#FBC8B7;}
    .st217{fill:#F4B392;}
    .st218{fill:#F9BAA1;}
    .st219{fill:#EB7D58;}
    .st220{fill:#F2A188;}
    .st221{fill:#F3B59C;}
    .st222{fill:#E68F73;}
    .st223{fill:#DA725A;}
    .st224{fill:#D78461;}
    .st225{fill:#CB7247;}
    .st226{fill:#E04642;}
    .st227{fill:#D9565B;}
    .st228{fill:#D6655F;}
    .st229{fill:#CE564C;}
    .st230{fill:#B14141;}
    .st231{fill:#D1534D;}
    .st232{fill:#842424;}
    .st233{fill:#A2393B;}
    .st234{fill:#E35953;}
    .st235{fill:#F3A984;}
    .st236{fill:#C42D2F;}
    .st237{fill:#A42C24;}
    .st238{fill:#871321;}
    .st239{fill:#CA3137;}
    .st240{fill:#871E27;}
    .st241{fill:#F85261;}
    .st242{fill:#DE404F;}
    .st243{fill:#F96C7B;}
    .st244{fill:#EB3932;}
    .st245{fill:#B92C3A;}
    .st246{fill:#D34747;}
    .st247{fill:#B64932;}
    .st248{fill:#FDA1A9;}
    .st249{fill:#EF5C5D;}
    .st250{fill:#F35E5F;}
    .st251{fill:#F35654;}
    .st252{fill:#DAA274;}
    .st253{fill:#CA8562;}
    .st254{fill:#DAAA80;}
    .st255{fill:#D8936F;}
    .st256{fill:#EAA17C;}
    .st257{fill:#DC8961;}
    .st258{fill:#DB7A58;}
    .st259{fill:#F8C5A8;}
    .st260{fill:#EEA882;}
    .st261{fill:#F6C2A5;}
    .st262{fill:#E4AB92;}
    .st263{fill:#E79B84;}
    .st264{fill:#E99A84;}
    .st265{fill:#E18C71;}
    .st266{fill:#D48867;}
    .st267{fill:#F5AD94;}
    .st268{fill:#F7C1A0;}
    .st269{fill:#EFA988;}
    .st270{fill:#FBC5AA;}
    .st271{fill:#FAC2AE;}
    .st272{fill:#F6AF90;}
    .st273{fill:#F3B291;}
    .st274{fill:#EEA181;}
    .st275{fill:#EB8A64;}
    .st276{fill:#CEAA84;}
    .st277{fill:#DCA085;}
    .st278{fill:#F6C7B5;}
    .st279{fill:#FBD3C0;}
    .st280{fill:#F1C1A8;}
    .st281{fill:#F2BEA2;}
    .st282{fill:#C69A7C;}
    .st283{fill:#DAC3A4;}
    .st284{fill:#E4D2C2;}
    .st285{fill:#E1CEB8;}
    .st286{fill:#FAF0EB;}
    .st287{fill:#A83F2C;}
    .st288{fill:#D57953;}
    .st289{fill:#EBA784;}
    .st290{fill:#E2916E;}
    .st291{fill:#E9A085;}
    .st292{fill:#E0956F;}
    .st293{fill:#E89E7C;}
    .st294{fill:#BA6245;}
    .st295{fill:#B3593D;}
    .st296{fill:#7A3425;}
    .st297{fill:#DDB4A6;}
    .st298{fill:#FDF7F5;}
    .st299{fill:#D88E77;}
    .st300{fill:#F3BDA3;}
    .st301{fill:#F4B490;}
    .st302{fill:#FCCEB9;}
    .st303{fill:#E29B75;}
    .st304{fill:#FEE4D6;}
    .st305{fill:#FCD0BB;}
    .st306{fill:#FFECE0;}
    .st307{fill:#FDF5F2;}
    .st308{fill:#3D2219;}
    .st309{fill:#836B5A;}
    .st310{fill:#D66E4F;}
    .st311{fill:#3C3624;}
    .st312{fill:#A6543D;}
    .st313{fill:#482719;}
    .st314{fill:#C86550;}
    .st315{fill:#2F120D;}
    .st316{fill:#F2AB85;}
    .st317{fill:#241413;}
    .st318{fill:#EA855B;}
    .st319{fill:#FFFEFD;}
    .st320{fill:#885F63;}
    .st321{fill:#FFFFFF;}
}